body, header, h3, img, a{
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
}

body {
  background-color: white;
  color: black;
}

body > header > nav{
  margin: 0 0 20px 0;
  background-color: lightblue;
}

body > header, body > footer{
  text-align: center;
}


body > footer > div:first-of-type{
  float: left;
  width: 35%;
}

body > footer > div:nth-of-type(2){
  float: left;
  width: 30%;
}

body > footer > div:nth-of-type(3){
  float: left;
  width: 30%;
}

body > footer > div > ul, body > footer > div > ul > li > div > ul{
  padding : 0;
}
footer > div > ul > li:first-of-type > img{
  width: 100px;
  cursor: pointer;
}

body > header > nav > div{
  display: inline-block;
  padding: 10px 20px;
}

body > header > div:nth-of-type(2) > ul > li{
  margin: 0 20px;
  padding: 20px 0;
}

body > header > div:nth-of-type(2) > ul > li > span{
  float: left;
}

body > header > div:nth-of-type(2) > ul > li > div > ul{
  text-align: center;
}

body > header > div:nth-of-type(2) > ul > li > div > ul > li:first-of-type{
  text-align: center;
  padding: 10px;
}

body > header > nav > div:last-child>img{
  width: 200px;
  cursor: pointer;
}

body > header > nav > div:first-child{
  float: right;
}

body > header > nav > div:nth-child(2){
  float: left;
}

body > header >div:nth-of-type(2) > ul > li:first-child > h3, .base-list-style{
text-align: center;
}

ul > li , .base-list-style{
  list-style: none;
}

footer{
  display: inline-block;
  margin: 20px 0;
  width: 100%;
  background-color: lightblue;
  text-align: center;
}

.imgcarrello{
  width: 100px;
}
footer > div > ul > li:last-of-type > div > ul > li > img{
  width: 50px;
  cursor: pointer;
}

footer > div > ul > li:last-of-type > div > ul > li{
  display: inline-block;
  padding: 5px 5px;
}

footer > div > ul > li{
  padding: 5px 0;
}

footer > div > ul > li > a, body > main > form > ul > li > a, body > main > section > div > ul > li:nth-of-type(2) > a{
  text-decoration: inherit;
  padding: 5px 0;
  color: black;
}

footer > div > ul > li > a:hover{
  color: white;
  transition: 0.3s;
}

.sidenav , .sidenavcar{
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  background-color: white; 
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenavcar{
right: 0;
}

.background{
opacity: 0.5;
}

.open{
width: 400px;
}

.disable{
  pointer-events: none;
  cursor: default;
}

.sidenav{
left:0;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 10px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover{
  color: black;
}

.sidenav ul:first-child img, .sidenavcar ul:first-child img{
  width: 20px;
  padding: 0 20px 20px 0;
}

.sidenav ul, .sidenavcar ul{
    padding: 0;
}
.sidenav ul li:first-of-type, .sidenavcar ul li:first-of-type{
  text-align: right;
}

input[name='quantitacarrello']{
  width: 15px;
}
.search-container button:hover {
  background: #ccc;
}


.search-container button {
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

body > header > div:nth-of-type(2) > div{
  padding: 10px 10px;
}


img[alt~='chiusura']{
  width: 20px;
  float: right;
  padding: 0 0 20px 0;
}

body > header > div:nth-of-type(2) > ul > li > div{
  padding: 0 0 30px 0;
  border-bottom: 1px solid #f4f4f4;
}

.button{
  background-color: white;
  border-radius: 10px;
  color: black;
  border: none;
  cursor: pointer;
}

.inputnoborder{
  width: 10%;
  border: none;
}

body > header > div:nth-of-type(2) > ul > li > div > ul > li:nth-of-type(2) > div{
  display: inline-block;
}

.bluebutton, input[name="submit"]{
  background-color: lightblue;
  font-weight: 200;
  text-decoration: none;
  color: white;
  padding: 14px 25px;
  border-radius: 10px;
  border: none;
}
/*tasto quando viene premuto*/
.bluebutton:hover, input[name="submit"]:hover{
  background-color: rgb(93, 179, 225);
  color: white;
  font-weight: bold;
  transition: 0.2s;
  cursor: pointer;
}

body > main > form, body > main > section > h2{
  text-align: center;
}

body > main > form > ul > li{
  padding: 0 0 20px;
}

/*input di tutte le pagine*/
body > main > form > ul > li > input:not(input[type="submit"]),  input[name='search'], input[name='dati']{
  width: 300px;
  height: 40px;
  font-size: large;
}

::-webkit-input-placeholder{
  font-size: large;
  color: black;
}

body > main > form > ul > li > a:hover{
  color: rgb(93, 179, 225);
  transition: 0.3s;
}

/*barra di ricerca*/

.search {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.searchTerm {
  width: 50%;
  border: 3px solid lightblue;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: black;
  font-size: large;
}


.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid lightblue;
  background: lightblue;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.imghome{
  width: 200px;
}

.imgdatichat{
  width: 60px;
}

.imghomescroll{
  width: 100%;
  padding: 30px 0 10px 0;
}
.imgprodotto{
  width: 250px;
}

body > main > section > div{
  text-align: center;
  display: inline-block;

}

body > main > h1, body > main > section{
  text-align: center;
}

body > main > section > div:nth-of-type(2){
  vertical-align: top;
}

body > main > section > div:nth-of-type(2) > ul > li{
  margin: 35px 0;
}

body > main > section:nth-of-type(2){
  padding: 30px 0;
}

body > main > section > div > ul > li, body > main > section > div > ul > li > ul > li{
  margin: 10px 10px;
}

.descrizioni{
  width: 80%;
  padding: 0 90px 0 110px;
}

.border{
  border-bottom: 2px;
}

.dot{
  height: 15px;
  width: 15px;
  background-color: lightblue;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot:hover{
  background-color: rgb(93, 179, 225);
}
.dot-active{
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  background-color: rgb(93, 179, 225);
}

.dotdiv{
  text-align: center;
  display: inline-block;
  width: 100%;
}

.custom-select{
  position: relative;
  width: 50%;
}

.custom-select select{
  background-color: lightblue;
  padding: 10px 8px;
  border: none;
  border-radius: 5px;
}

/*body > main > section > div > ul{
  padding: 20px 0 0 20px;
}*/

.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}

body > main > section > div > ul > li > a {
  margin: 30px 30px;
  padding: 8px 8px 8px 10px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

body > main > section > div > ul > li > a:hover{
  color:  rgb(93, 179, 225);
}

body > main > section > div > ul > li > a:hover > img{
  border: 0;
  color: rgb(93, 179, 225);
}

.vertical-items ul li{
  display: inline-block;
}

.vertical-items{
  text-align: center;
}

.border-radius{
  border-radius: 25px;
  border: 2px solid rgb(93, 179, 225);
  padding: 10px; 
  width: 100%;
  height: 70%;
}

.no-padding{
  padding: 0;
}

@media screen and (max-width: 768px) {
  body > header >div:nth-of-type(2) > ul > li:first-child > h3{
    text-align: left;
    }

    body > header > nav > div:last-child > img{
      width: 100px;
    }

    .open{
      width: 100%; 
    }
    body > footer > div:nth-of-type(2), .topnav .search-container, 
    body > footer > div:first-of-type, body > footer > div:nth-of-type(3){
      float: none;
    }
    
    footer > div {
      margin: 0 auto;
    }

    .vertical-items{
      display: block;
    }

    .vertical-items ul li{
      width: 100%;
      margin: 0;
    }
}


