body, header, h3, img, a{
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
}

body {
  background-color: white;
  color: black;
}

body > header > nav{
<<<<<<< HEAD
  margin: 0 0 20px 0;
}

body > header, body > footer{
  background-color: lightblue;
  text-align: center;
=======
    margin: 0 0 20px 0;
    background-color: lightblue;
}

body > header, body > footer{
    text-align: center;
>>>>>>> 5703d957f30e3b6ab4bdebf62e52d5cfb8f0cb48
}


body > footer > div:first-of-type{
  float: left;
  padding: 10px 10px;
}

body > footer > div:nth-of-type(2){
  float: right;
  padding: 10px 5px;
}

body > footer > div > ul, body > footer > div > ul > li > div > ul{
  padding : 0;
}
div > ul > li:first-of-type > img{
  width: 100px;
}

body > header > nav > div{
  display: inline-block;
  padding: 10px 20px;
}

body > header > nav > div:last-child>img{
  width: 200px;
}

body > header > nav > div:first-child{
  float : right;
}

body > header > nav > div:nth-child(2){
  float: left;
}

<<<<<<< HEAD
body > header >div:nth-of-type(2) > ul > li:first-child > img{
padding: 0 0 0 20px;
}

=======
>>>>>>> 5703d957f30e3b6ab4bdebf62e52d5cfb8f0cb48
body > header >div:nth-of-type(2) > ul > li:first-child > h3{
text-align: center;
}
ul > li {
  list-style: none;
}

footer{
<<<<<<< HEAD
  display: inline-block;
  margin: 20px 0;
  width: 100%;
=======
    display: inline-block;
    margin: 20px 0;
    width: 100%;
    background-color: lightblue;
>>>>>>> 5703d957f30e3b6ab4bdebf62e52d5cfb8f0cb48
}

footer > div > ul > li:last-of-type > div > ul > li > img{
  width: 50px;
}

footer > div > ul > li:last-of-type > div > ul > li{
  display: inline-block;
  padding: 5px 5px;
}

footer > div > ul > li > a{
  text-decoration: inherit;
}

footer > div:nth-of-type(2) > ul > li,footer > div:nth-of-type(3) > ul > li{
padding: 5px 0 5px 0;
}

footer > div:nth-of-type(3) > ul > li{
  margin: 0 5px 0 0;
}


.sidenav , .sidenavcar{
<<<<<<< HEAD
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */

  background-color: lightblue; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
=======
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    background-color: white; 
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
>>>>>>> 5703d957f30e3b6ab4bdebf62e52d5cfb8f0cb48

.sidenavcar{
right: 0;
}

.background{
  opacity: 0.5;
}

.open{
  width: 250px;
}

.sidenav{
<<<<<<< HEAD
left:0;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 10px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav ul:first-child img, .sidenavcar ul:first-child img{
  width: 20px;
  padding: 0 20px 20px 0;
}

.sidenav ul, .sidenavcar ul{
    padding: 0;
}
.sidenav ul li:first-of-type, .sidenavcar ul li:first-of-type{
  text-align: right;
}

@media screen and (min-width: 768px) {
  
}
=======
  left:0;
}

  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 10px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: black;
  }

  .sidenav ul:first-child img, .sidenavcar ul:first-child img{
    width: 20px;
    padding: 0 20px 20px 0;
  }

  .sidenav ul, .sidenavcar ul{
      padding: 0;
  }
  .sidenav ul li:first-of-type, .sidenavcar ul li:first-of-type{
    text-align: right;
  }

  @media screen and (max-width: 300px) {
    .open{
      width: 100%;
    }
  }
>>>>>>> 5703d957f30e3b6ab4bdebf62e52d5cfb8f0cb48
