body, header, h3, img, a{
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
}

body {
  background-color: white;
  color: black;
}

body > header > nav{
  margin: 0 0 20px 0;
  background-color: lightblue;
}

body > header, body > footer{
  text-align: center;
}


body > footer > div:first-of-type{
  float: left;
  width: 35%;
}

body > footer > div:nth-of-type(2){
  float: left;
  width: 30%;
}

body > footer > div:nth-of-type(3){
  float: left;
  width: 30%;
}

body > footer > div > ul, body > footer > div > ul > li > div > ul{
  padding : 0;
}
div > ul > li:first-of-type > img{
  width: 100px;
}

body > header > nav > div{
  display: inline-block;
  padding: 10px 20px;
}

body > header > nav > div:last-child>img{
  width: 200px;
}

body > header > nav > div:first-child{
  float: right;
}

body > header > nav > div:nth-child(2){
  float: left;
}

body > header >div:nth-of-type(2) > ul > li:first-child > h3{
text-align: center;
}
ul > li {
  list-style: none;
}

footer{
  display: inline-block;
  margin: 20px 0;
  width: 100%;
  background-color: lightblue;
  text-align: center;
}


footer > div > ul > li:last-of-type > div > ul > li > img{
  width: 50px;
}

footer > div > ul > li:last-of-type > div > ul > li{
  display: inline-block;
  padding: 5px 5px;
}

footer > div > ul > li > a{
  text-decoration: inherit;
  padding: 5px 0;
}


.sidenav , .sidenavcar{
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  background-color: white; 
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenavcar{
right: 0;
}

.background{
opacity: 0.5;
}

.open{
width: 400px;
}

.disable{
  pointer-events: none;
  cursor: default;
}

.sidenav{
left:0;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 10px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: black;
}

.sidenav ul:first-child img, .sidenavcar ul:first-child img{
  width: 20px;
  padding: 0 20px 20px 0;
}

.sidenav ul, .sidenavcar ul{
    padding: 0;
}
.sidenav ul li:first-of-type, .sidenavcar ul li:first-of-type{
  text-align: right;
}

.search-container button:hover {
  background: #ccc;
}


.search-container button {
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.img{
  width: 15px;
}


body > header > div:nth-of-type(2) > ul > li:nth-of-type(3) > img{
  width: 100px;
  
}


@media screen and (max-width: 768px) {
  body > header >div:nth-of-type(2) > ul > li:first-child > h3{
    text-align: left;
    }

    body > header > nav > div:last-child>img{
      width: 100px;
    }

    .topnav .search-container {
      float: none;
    }
    .open{
      width: 100%; 
    }

    body > footer > div:nth-of-type(2), body > footer > div:first-of-type, body > footer > div:nth-of-type(3){
      float:none;
    }
    footer > div {
      margin: 0 auto;
    }
}

